
.centrar{
	text-align: center;
	align-content: middle;
}

.titulo{
	font-size: 20px;
	font-weight: bold;
	color: #92ADC6;
	padding-top: 10px;
}

.azul{
	background-color: #1F75B8;
	
}
.blanco{
	background-color: #fff;
}

img.recicladores{
	border-radius: 150px;
}